.button_add{
	width: 100%;
	float: left;
	margin-top:20px;
	margin-bottom:20px;
	display: inline-block;
}

.button_add h2{
	float: left;
	margin: 0;
	/*font-size: 6vw;*/
}

.button_add a{
	float: right;
}

tr{
	text-align: center;
}

tr>th{
	background-color: #607D8B;
	color:#eaeaea;
	text-align: center;
}

tr>td{
	background-color: #e0e0e0; 
}