#content_header{
	padding-left: 0px;
	background-color: transparent;
}

#send-button{
	float: right;
	margin-bottom: 40px;
}

/*Informacion del usuario (informacion_usuario.php)*/
.wrapper{
	display: flex;
}

.user-information{
	width: 30%;
	max-height: 100%;
	color: white;
	background-color: #0c5dc6;
}

.user-information img{
	width: 150px;
	height: 150px;
	border: 2px solid white;
}

.user-information-content{
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.user-content{
	width: 70%;
}

.upload-items{
	padding-right: 30px;
}

.content-container{
	margin-left: 30px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	overflow: hidden;
	text-align: center;
  background-color: #e7e7e7;
  border: none;	
}

.frame{
	justify-content: center;
	vertical-align: center;
	width: inherit;
	height: 100%;
	display:flex;
  overflow: hidden;
}

.frame-in{
	align-self: center;
	overflow:hidden;
}

@media screen and (max-width: 837px){
	.wrapper{
		display: block;
	}
	.user-information, .user-content{
		height: auto;
		width: 100%;
	}
}

/*general*/ 
.form-content{
	padding:40px 0;
}

label{
	font-weight: 100 !important;
}

textarea{
	resize: none;
}

.t_area{
	height: 19em !important; 
}

.t_area_desc{
	height: 8em !important;
}

.send-btn{
	float: right;
}
.admin-panel-list{
	list-style: none;
	padding-left: 0;
}

.admin-panel-list li{
	margin-top: 10px;
  font-size:18px;

}

.admin-panel-list li > a{
	display: block;
	background-color: #d3d2d4;
	border-left: 5px solid #828282;
	padding-left: 10px;
	text-decoration: none;
	box-shadow: 1px 1px 3px #888888;
	color: #292929;
}

.admin-panel-list li > a:hover{
}
